* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'in';
    font-family: 'inter';
}

:root {
    --color-blue: #1043F3;
    --color-strong-dark:#000000;
    --color-lighter-dark:#1B1F26;
    --color-gray:#686868;
    --color-darker-gray:#4A4A4A;
    --color-dark-blue:#242933;
    --color-white-obscure: #F5F6F9;
    --spacing-s10: 10px;
    --spacing-s20: 20px;
    --spacing-s30: 30px;
    --spacing-s40: 40px;
    --spacing-s50: 50px;
    --spacing-s60: 60px;
    --spacing-s70: 70px;
    --spacing-s80: 80px;
    --spacing-s90: 90px;
    --spacing-s100: 100px;
    --font-size-h1-12v: 12vmin;
    --font-size-h1-9v: 9vmin;
    --font-size-h1-7v: 7vmin;
    --font-size-h2-6v: 6vmin;
    --font-size-h3-4-2v: 4.2vmin;
    --font-size-h3-3v: 3vmin;
    --font-size-p-4v: 4vmin;
    --font-size-p-3v: 3vmin;
    --font-size-plink-3v: 3vmin;

}


html {
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
}

h1 {
    font-size: var(--font-size-h1-7v);
}

h2 {
    color: var(--color-dark-blue);
    font-size: var(--font-size-h2-6v);

}

h3 {
    color: var(--color-dark-blue);
    font-size: var(--font-size-h3-4-2v);
}

p {
    color: var(--color-dark-blue);
    font-size: var(--font-size-p-4v);
}

a {
    color: var(--color-dark-blue);
    text-decoration: none;
    font-weight: 400;
    transition: .5s;
}

.section-hero {
    min-height: 90vh;
    padding-inline:var(--spacing-s80);
}

.section-cards-funcionalidades {
    min-height: 100vh;
    background-color: var(--color-white-obscure);
}

.section-jovinho-ia {
    min-height: 100vh;
    padding-inline:250px;
}

.section-identificacao-filtros {
    min-height: 100vh;
    background-color: var(--color-white-obscure);
}

.section-lembrete-fotos {
    min-height: 100vh;
}

.header-hero {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-hero h1 {
    font-size: 4.5vmin;
}

.header-hero img {
    width: 30px;
}


.menu-list {
    display: flex;
    gap: var(--spacing-s40);
    margin-right: var(--spacing-s30);
}

.menu-list a {
    font-size: 2vmin;
    transition: .5s;
}

.menu-list a:hover{
    color: var(--color-blue);
}




.hero-introduction-container-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hero-introduction-container {
    min-height: 300px;
    width: 45%;
    padding-top: var(--spacing-s100);
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: var(--spacing-s10);
}


.celular-icones-container {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.celular-icones-container img {
    padding-top: var(--spacing-s30);
    height: 560px;
}

.introduction-link {
    margin-top: var(--spacing-s70);
    font-size: var(--font-size-plink-3v);
    display: flex;
}

.introduction-link img {
    padding-left: var(--spacing-s10);

}

.desenvolvido-gembyte {
    margin-top: auto;
    display: flex;
    align-self: start;
    flex-direction: column;
}

.desenvolvido-gembyte-topo {
    font-size: 2.5vmin;
    font-weight: 800;
}

.gembyte-logo-nome {
    color: var(--color-gray);
    font-weight: 300;
}


.dois-cards-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s30);
}

.todos-cards-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s30);
    padding-top: var(--spacing-s100);
    padding-bottom: var(--spacing-s100);
}


.cards-home {
    display: flex;
    align-items: end;
    background-color: white;
    height: 380px;
    width: 40%;
    border-radius: 10px;
    flex-wrap: wrap;
    transition: .5s;
}


.cards-home:hover {
    transform: scale(1.05);
}


.cards-home-deitado {
    background-color: white;
    height: 350px;
    width: 74%;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    align-items: end;
    transition: .5s;
}

.cards-home-deitado:hover {
    transform: scale(1.05);
}


.card-home-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-home-deitado-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards-home h3 {
    font-size: var(--font-size-h3-3v);
    margin-left: 40px;
}


.cards-home-deitado h3 {
    font-size: var(--font-size-h3-3v);
    margin-left: 40px;
}

.card-img-jovinho-feliz {
    width: 70%;
}

.card-img-celular-melhorar-foto {
    width: 32%;
}

.card-img-celular-lembrete-deitado {
    width: 50%;
    padding-left: 100px;
}


.jovinho-ia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--spacing-s100);
}


.jovinho-ia-container h1 {
    font-size: 9vmin;
    color: var(--color-lighter-dark);
}

.jovinho-ia-container h3 {
    color: var(--color-gray);
    padding-left: 115px;
}

.jovinho-ia-conteudo {
    padding-bottom: var(--spacing-s60);
}

.jovinho-ia-conteudo-cm2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-s10);
    padding-top: var(--spacing-s20);
    padding-inline: 115px;
}

.jovinho-ia-conteudo-cm2 img {
    width: 100%;
    padding-top: var(--spacing-s20);
}

.jovinho-ia-conteudo-cm2 p{
    font-size: var(--font-size-p-3v);
    font-weight: 500;
    color: var(--color-gray);
}

.jovinho-ia-conteudo-cm2-p-esquerda {
    width: 78%;
    padding-top: var(--spacing-s60);
}

.jovinho-ia-conteudo-cm2-p-direita {
    text-align: right;
    padding-left: 230px;
    padding-top: var(--spacing-s40);
}


.identificacao-filtros-container {
    text-align: center;
    padding-top: var(--spacing-s100);
}

.identificacao-filtros-container h3 {
    color: var(--color-gray);
    margin-bottom: var(--spacing-s30);
}

.identificacao-filtros-container h1 {
    font-weight: 700;
    font-size: var(--font-size-h1-9v);
    color: var(--color-lighter-dark);
    margin-bottom: var(--spacing-s30);
}

.identificacao-filtros-container p {
    font-size: 2.5vmin;
    font-weight: 500;
    color: var(--color-gray);
}

.identificacao-filtros-container img {
    margin-top: var(--spacing-s10);
    margin-bottom: var(--spacing-s70);
    width: 30%;
    transition: .5s;
}

.identificacao-filtros-container img:hover {
    transform: scale(1.06);
}

.p-identificacao-filtros-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.lembrete-fotos-container {
    text-align: center;
    padding-top: var(--spacing-s100);
}

.lembrete-fotos-container h3 {
    color: var(--color-gray);
    margin-bottom: var(--spacing-s30);
}

.lembrete-fotos-container h1 {
    font-weight: 700;
    font-size: var(--font-size-h1-9v);
    color: var(--color-lighter-dark);
    margin-bottom: var(--spacing-s30);
}

.lembrete-fotos-container p {
    font-size: 2.5vmin;
    font-weight: 500;
    color: var(--color-gray);
}

.lembrete-fotos-container img {
    margin-top: var(--spacing-s40);
    margin-bottom: var(--spacing-s70);
    width: 18%;
    transition: .5s;
}

.lembrete-fotos-container img:hover {
    transform: scale(1.06);
}

.h1-lembrete-fotos-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.p-lembrete-fotos-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lembrete-fotos-img-row {
    display: flex;
    justify-content: center;
    gap: var(--spacing-s30);
    width: 100%;
}

footer {
    background: var(--color-dark-blue);
    height: 60vh;
}


/* CSS do efeitos */

.section-cards-jovinho {
    padding-inline: var(--spacing-s80);
}

.section-adapte-se {
    min-height: 100vh;
    padding-inline: var(--spacing-s90);
    background-color: var(--color-white-obscure);
}

.section-dicas-filtros {
    min-height: 100vh;
    padding-inline: var(--spacing-s100);
    background-image: url(../img/efeitos/fundo-dicas.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.hero-efeitos-container {
    margin-top: var(--spacing-s50);
    display: flex;
    align-items: center;
    gap: var(--spacing-s80);
    width: 100%;
}

.hero-efeitos-container h1{
    margin-bottom: 100px;
}

.hero-efeitos-container img{
    width: 40%;
}

.cards-efeitos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s30);
    padding-top: var(--spacing-s100);
}


.cards-efeitos {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: var(--color-white-obscure);
    height: 635px;
    width: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
    padding-inline: var(--spacing-s40);
    transition: .5s;
}

.cards-efeitos:hover {
    transform: scale(1.08);
}

.card-efeitos-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}

.cards-efeitos h3 {
    font-size: 4vmin;
   
}

.cards-efeitos p {
    font-size: 2.5vmin;
    font-weight: 500;
  
}

.card-img-sugestao {
    width: 78%;
}

.card-img-guia {
    width: 77%;
}

.card-img-lembrete {
    width: 80%;
}

.ola-jovihno-container-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-block: 140px;
}


.ola-jovihno-container {
    min-height: 300px;
    width: 45%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: var(--spacing-s10);
    margin-left: 100px;
}

.ola-jovihno-container h1 {
    color: var(--color-lighter-dark);
    font-size: 10vmin;
    font-weight: 700;
}

.ola-jovihno-container p {
    color: var(--color-dark-blue);
   
}

.jovinho-feliz-img-container {
    margin-top: 110px;
}

.jovinho-feliz-img-container img {
    width: 100%;
}

.adapt-container {
    text-align: center;
    padding-top: var(--spacing-s100);
}

.adapt-container h3 {
    color: var(--color-gray);
    padding-bottom: var(--spacing-s30);
}

.adapt-container h1 {
    font-weight: 700;
    font-size: var(--font-size-h1-9v);
    color: var(--color-lighter-dark);
    margin-bottom: var(--spacing-s30);
}

.adapt-container p {
    
    font-size: 2.5vmin;
    font-weight: 500;
    color: var(--color-gray);
}

.adapt-container img {
    margin-top: var(--spacing-s10);
    margin-bottom: var(--spacing-s70);
    width: 30%;
}

.p-adapt-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.adapt-imgs-container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: var(--spacing-s50);
    gap: var(--spacing-s30);
}

.seis-filtros-container {
    margin-top: var(--spacing-s60);
}

.tres-filtros-linhas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-s30);
}

.filtro {
    height: 550px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.filtro img{
    width: 100%
}

.filtro p {
    color: var(--color-strong-dark);
    font-weight: 700;
}

.adapt-img-padrao-container img {
    width: 100%;
}

.filtro-raio {
    filter:brightness(160%);
}

.filtro-tremor {
    filter: brightness(110%) contrast(130%);
}

.filtro-ambar {
    filter: brightness(130%) contrast(120%);
}

.filtro-sombra {
    filter: grayscale(100%);
}

.filtro-cristal {
     filter: brightness(130%) contrast(70%) ;
}

.filtro-brisa {
    filter: contrast(140%);
}

.dicas-container {
    text-align: center;
    padding-top: var(--spacing-s100);
}

.dicas-container h1 {
    font-weight: 700;
    font-size: var(--font-size-h1-9v);
    color: var(--color-lighter-dark);
    margin-bottom: var(--spacing-s40);
}

.dicas-container p {
    font-size: 2.5vmin;
    font-weight: 500;
    color: var(--color-gray);
}

.dicas-container img {
    margin-top: var(--spacing-s30);
    margin-bottom: var(--spacing-s70);
    width: 40%;
}

.p-dicas-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circulos-e-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna-circulos {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 220px;
}


.circulo-vidro {
    border: 0.5px solid white;
    height: 55px;
    width: 300px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    display: flex;
    justify-content: center;
    transition: .5s;
}

.circulo-vidro:hover {
    transform: scale(1.09);
}

.circulo-vidro-p-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo-vidro-p-div p {
    color: var(--color-darker-gray);
    font-size: 2.5vmin;
    font-weight: 600;
}




/* CSS do sobre-nos */


.section-membros {
    min-height: 100vh;
    background-color: var(--color-white-obscure);
}

.titulo-nos-logo {

    margin-top: var(--spacing-s100);
}

.titulo-nos{
    text-align: center;
    font-size: var(--font-size-h1-7v);
}

.logo{
    margin-top: var(--spacing-s60);
    text-align: center;
    background-image: url(/Jovinho/Page/img/sobrenos/fundo-titulo-nos.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: var(--spacing-s50);
}

.logo img {
    width: 240px;
}

.logo h2 {
    color: var(--color-lighter-dark);
    font-size: var(--font-size-h1-9v);
    font-weight: 600;
    margin-top: var(--spacing-s30);
}


.equipe {
    text-align: center;
    margin-top: var(--spacing-s100);
    margin-bottom: var(--spacing-s20);
}

.equipe h1{
    margin-block: var(--spacing-s60);
    font-size: var(--font-size-h1-9v);
    color: var(--color-lighter-dark);
}

.div-equipe-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-s50);
    margin-bottom: var(--spacing-s70);
}

.equipe p{
    width: 60%;
    color: var(--color-gray);
    font-size: var(--font-size-p-3v);
    font-weight: 500;
}
.equipe img{
    width: 80%;
    margin-bottom: var(--spacing-s60);
    border-radius: 2px;
}

.membros{
    text-align: center;
    padding-bottom: var(--spacing-s100);
}

.membros h1 {
    font-size: var(--font-size-h1-9v);
    color: var(--color-lighter-dark);
    padding-top: var(--spacing-s80);
    padding-bottom: var(--spacing-s40);
}

.membros h3 {
    color: var(--color-gray);
}

.titulo-membros h3 {
    font-weight: 600;
    margin-bottom: var(--spacing-s30);

}

.card-time {
    display: flex;
    padding: var(--spacing-s80);
}

.card-individual {
    width: 50%;
    height: 500px;
}

.card-time h2 {
    font-weight: 500;
    font-size: 6vmin ;
    margin-top: var(--spacing-s10);
}

.card-time h3 {
    font-weight: 500;
    margin-block: var(--spacing-s10);
}


.card-time-div-p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-time p{
    width: 70%;
}

.card-time img{
    width: 35%;
    transition: .5s;
}

.card-time img:hover{
    transform: scale(1.08);
}